*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
#haut{
    width: 100%;
    height: 650px;
    background: url("../photos/van-tay-media-9buwiennNqg-unsplash.jpg") no-repeat center;
    background-size: cover;
}
.contenu{
    box-sizing: content-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 8%;
    width: 40%;
    height: 55%;
    top: 50%;
    left: 10%;
    background: #2f3640;
    color: #fff;
    opacity: 0.9;
}
.contenu .h1{

    font-size: 35px;
    text-align: center;
    padding-top: 10px;
}
.contenu p{
    text-align: justify;
    font-size: 21px;
    padding: 5%;
}
span{
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    font-style: italic;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
}
.box1{
    float: left;
    width: 50%;
    width: 450px;
    background: #2f3640;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box1 img{
    border-radius: 50%;
}
.box1 h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box1 h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box1 p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box1 li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box1 li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box1 li  .a:hover{
    color: #252692;
}
.box1 li  .b:hover{
    color: #a30b0b;
}
.box1 li  .c:hover{
    color: #3690b4;
}
.box2{
    float: right;
    width: 50%;
    width: 450px;
    background: #2d3436;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box2 img{
    border-radius: 50%;
}
.box2 h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box2 h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box2 .p{
    text-align: justify;
}
.box2 li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box2 li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box2 li  .a:hover{
    color: #252692;
}
.box2 li  .b:hover{
    color: #a30b0b;
}
.box2 li  .c:hover{
    color: #3690b4;
}
@media (max-width: 700px){
    .container{
        width: 100%;
        height: auto;
        display: block;
    }
    .contenu{
        box-sizing: content-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 8%;
        width: 60%;
        height: 70%;
        background: #2f3640;
        color: #fff;
        opacity: 0.9;
    }
    .contenu h1{
        font-size: 20px;
        text-align: justify;
        padding-top: 12px;
    }
    .contenu p{
        font-size: 25px;
        text-align: justify;
        padding: 12px;
    }
}