*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
                /* ----------------------- header -----------------*/
#navbar{
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    z-index: 1222;
    position: absolute;
}
.contaner{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    background: #000;
    position: sticky;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.navbar-brand b{
    padding-left: 50px;
    font-size: 20px;
    font-weight: 500;
    height: auto;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
    width: auto;
}
.nav-link{
    padding-left: 18px;
}
.navbar-nav {
    margin-left: 40%;
}
.navbar-nav .nav-item {
    display: flex;
    float: right;
    margin-bottom: 0;
    list-style: none;
    justify-content: start;
    flex-direction: row-reverse;
}.navbar-nav li{
    text-align: center;
    width: 70px;
 
}
.navbar-nav li a{
    
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
    color: #f5b731!important;
}
.nav-item:focus{
    transition: ease-in-out 1s;
}
.dropdown-menu{
    height: auto;
    align-content: center;
    border: none;
    background: transparent;
}
.dropdown-menu .dropdown-item{
    padding-top: 10px;
    box-sizing: border-box;
}
.dropdown-menu .dropdown-item:hover{
    background: whitesmoke;
    color: gold;
    transition: ease-in-out 700ms;
}
              
/*form input{
    outline: none;
    width: 350px;
    background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
    color: #fff;
}*/
form input:focus,
form input:active,
form input:hover{
    outline: none;
    background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
    color: #fff;
    max-width: 700px;
    transition: ease-in 1s;
}
form .btn{
  width: 90px;
  height: 35px;
  margin-right: 30px;
  border: 1px solid rgb(202, 197, 197);
  border-radius: 8px;
}
form .btn:hover{
    transition: all ease-in-out 1s;
    background: linear-gradient(to right, #ee390f 0%, #f9b700 0%, #ee390f 90%);
    border: none;
}
#search{
    width: 90%;
    height: auto;
    margin: auto;
    
}

#search input[type=search]:hover{
    transition: all .2s ease-out;
    top: -10px;

}
#search:placeholder{
    color: #fff;
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
#barre input[type="search"]{
  margin-top: 1%;
  width: 97.5%;
  padding-left: 15px;
  padding-right: 15px;
  height: 0;
  background: linear-gradient(to left, #000 0%, #fff 0%, #000 90%);
  border: none;
  border-radius: 1px;
  color: #fff;
  position: absolute;
  transition: 1s ease;
}


                  /*------------- contact -------------*/
.tete{
    width: 100%;
    height: 450px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../photos/breadcrumb.png) no-repeat center;
    background-size: cover;
    color: #fff;
    box-sizing: border-box;
    z-index: 500;
}
.tete .titre-lien{
  box-sizing: border-box;
  margin-left: 40%;
  padding-top: 180px;
  width: 350px;
  height: auto;
  display: block;
  text-align: center;
}
.titre{
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 10px;
}
.p{
  color: #fff;
  font-size: 15px;
}
.p a{
  text-decoration: none;
  color: #fff;
}
.p a:hover{
  transition: all .4s ease-out;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
  border: none;
  border-radius: 3px
}
 iframe{
  padding-top: 60px;
  padding-bottom: 40px;
  margin: auto;
}
.contact-section{
  margin-top: 30px;
}
.contact-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}
.form-contact label {
  font-size: 14px;
}
.form-contact .form-group {
  margin-bottom: 30px;
}

.form-contact .form-group .btn_1 {
  margin-bottom: -30px;
  background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
  color: #fff;
  height: 50px;
  width: 180px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-weight: 400;
}
.form-contact .form-group .btn_1:hover{
  transition: all ease .3s;
  background: linear-gradient(to right, #ee390f 0%, #f9b700 0%, #ee390f 90%);
}
.form-contact .form-control {
  border: 1px solid #f0e9ff;
  border-radius: 5px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: #f0e9ff;
}
.form-contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}
.form-contact .form-control::placeholder {
  font-weight: 300;
  color: #999999;
}
.form-contact textarea {
  border-radius: 12px;
  height: 100% !important;
}

                                 /* ------------------------         footer       -----------------------------   */


footer p{
  color: #999;
  line-height: 25px;
}
footer h2,.h3{
  color: #fff;
}
footer h2{
  font-size: 18px;
}
footer{
  min-height: 700px;
  background: url(../photos/footer-bg.png) no-repeat bottom;
  background-size: cover;
  box-sizing: border-box;
}
.footer-top{
  padding-top: 360px ;
}
.footer-top .segment-un{
  color: #fff;
  letter-spacing: 3px;
  margin: 10px 0;
}
footer h2{
  color: #fff;
  text-transform: uppercase;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li{
  border-bottom: 1px solid rgba(255, 255, 255,0.3);
  line-height: 40px;
}
footer ul li a{
  text-decoration: none;
  color: #999;
}
footer ul li a:hover{
  text-decoration: none;
  color: goldenrod;
  transition: all ease 500ms;
}
footer i{
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  padding: 12px 10px;
}
footer i:hover{
  background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
  color: #fff;
  transition: ease 1s;
}
footer form input[type="submit"]{
  background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
  border: none;
  padding: 3px 15px;
  margin-left: -5px;
  color: #fff;
  transform: uppercase;
}
.footer-bottom{
  background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
  line-height: 50px;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
}
