p{
    color: #999;
    line-height: 25px;
}
h2,h3{
    color: #fff;
}
h2{
    font-size: 18px;
}
footer{
    min-height: 700px;
    background: url(../photos/footer-bg.png) no-repeat bottom;
    background-size: cover;
    box-sizing: border-box;
}
.footer-top{
    padding-top: 360px ;
}
.footer-top .segment-un{
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}
footer h2{
    color: #fff;
    text-transform: uppercase;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer ul li{
    border-bottom: 1px solid rgba(255, 255, 255,0.3);
    line-height: 40px;
}
footer ul li a{
    text-decoration: none;
    color: #999;
}
footer ul li a:hover{
    text-decoration: none;
    color: goldenrod;
    transition: all ease 500ms;
}
footer i{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    padding: 12px 10px;
}
footer i:hover{
    background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
    color: #fff;
    transition: ease 1s;
}
footer form input[type="submit"]{
    background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #fff;
    transform: uppercase;
}
.footer-bottom{
    background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
    line-height: 50px;
    text-align: center;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}