*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    transition: cubic-bezier(1, 0, 0, 1) 500ms;
}
.navbar{
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.navbar>.contaner{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    background: #fff;
    position: sticky;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-brand b{
    padding-left: 50px;
    font-size: 20px;
    font-weight: 500;
    height: auto;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
    width: auto;
}
.nav-link{
    padding-left: 18px;
}
.navbar-nav {
    margin-left: 40%;
}
.navbar-nav .nav-item {
    display: flex;
    float: right;
    margin-bottom: 0;
    list-style: none;
    justify-content: start;
    flex-direction: row-reverse;
}.navbar-nav li{
    text-align: center;
    width: 70px;
 
}
.navbar-nav li a{
    
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
    color: #f5b731!important;
}
.nav-item:focus{
    transition: ease-in-out 1s;
}
.dropdown-menu{
    height: auto;
    align-content: center;
    border: none;
    background: transparent;
}
.dropdown-menu .dropdown-item{
    padding-top: 10px;
    box-sizing: border-box;
}
.dropdown-menu .dropdown-item:hover{
    background: whitesmoke;
    color: gold;
    transition: ease-in-out 700ms;
}

/*form input{
    outline: none;
    width: 350px;
    background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
    color: #fff;
}*/
form input:focus,
form input:active,
form input:hover{
    outline: none;
    background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
    color: #fff;
    max-width: 700px;
    transition: ease-in 1s;
}
form .btn{
    background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
    color: #fff;
    width: 140px;
    height: 45px;
    border-radius: 35px;
    border: none;
}
form .btn:hover{
    transition: all ease-in-out 1s;
    background: linear-gradient(to right, #ee390f 0%, #f9b700 0%, #ee390f 90%);
}
#search{
    width: 90%;
    height: auto;
    margin: auto;
    
}
#search input[type=search]{
    background: linear-gradient(to right, #f9b700 0%, #ee390f 0%, #f9b700 90%);
    border: none;
    width: 90%;
    margin: 0 auto 0 auto;
    height: 40px;
    border-radius: 20px;
    outline: none;
    color: #fff;
    position: absolute;
    top: 10px;
    visibility: hidden;
}
#search input[type=search]:hover{
    transition: all .2s ease-out;
    top: -10px;

}
#search:placeholder{
    color: #fff;
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
